apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ops-media-pvc
  namespace: ops
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: standard
  resources:
    requests:
      storage: 10Gi
