[sys_info]
sys_env=DEV
sys_port=5566
sys_host=0.0.0.0
sys_debug=True
sys_auth=True

[xlog]
log_level=DEBUG
console_log_flag=Y
console_log_level=INFO
file_log_flag=Y
file_log_level=INFO
file_log_path=/var/log/ops/
file_log_name=main.log

[redis]
redis_url=redis://127.0.0.1:6379/0

[db]
host=127.0.0.1
port=3306
user=ops_user
password=your_password_here
timeout=6000
